trigger:
  paths:
    include:
      - worker/**

resources:
  - repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: "591d3c7e-29aa-4c63-8001-06319ef2e914"
  imageRepository: "workerService"
  containerRegistry: "votingappregistry.azurecr.io"
  dockerfilePath: "$(Build.SourcesDirectory)/worker/Dockerfile"
  tag: "$(Build.BuildId)"
  serviceName: "worker"

# Running the pipeline on self hosted VM
pool:
  name: "MyAzureAgentPool"

stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build Docker Image
        steps:
          - task: Docker@2
            displayName: Build Docker image
            inputs:
              containerRegistry: "$(dockerRegistryServiceConnection)"
              repository: "$(imageRepository)"
              command: "build"
              Dockerfile: "worker/Dockerfile"
              tags: "$(tag)"

  - stage: Push
    displayName: Push to ACR
    jobs:
      - job: Push
        displayName: Push to ACR
        steps:
          - task: Docker@2
            displayName: Push Docker image
            inputs:
              containerRegistry: "$(dockerRegistryServiceConnection)" # since using ACR no need to login, if using DockerHub needs to log-in first
              repository: "$(imageRepository)"
              command: "push"
              tags: "$(tag)"

  - stage: UpdateManifest
    displayName: Update K8s Manifest
    jobs:
      - job: Update
        displayName: Update Manifest for GitOps
        steps:
          - checkout: self
            persistCredentials: true
          - task: Bash@3
            displayName: "Update K8s Manifest"
            inputs:
              filePath: "$(Build.SourcesDirectory)/scripts/update-manifest.sh"
              arguments: "$(serviceName) $(tag) $(containerRegistry)"
              workingDirectory: "$(Build.SourcesDirectory)"
